data/*
.venv/
.DS_Store*
.satpy_temp/*
*.ipynb_checkpoints*
*.pyc
src/models/checkpoint/*
src/models/*.pth
tempo_unet_weights.pth
etc/*
checkpoints/*
logs/*
training_logs/*
src/train_pipeline/*
src/utils/data_loader.py
notebooks/*
tempo_data/